.pages-xd-record {
  padding: 20rpx;
  font-size: 28rpx;

  .record-item {
    padding: 10rpx;
  }

  .record-summary {
    display: flex;
    flex-direction: column;
  }

  .record-summary__date {
    margin-bottom: 10rpx;
  }

  .record-summary__info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rpx;
  }

  .record-summary__values-container {
    display: flex;
    flex-direction: column;
  }

  .record-summary__value {
    margin-bottom: 10rpx;
  }

  .record-separator {
    height: 1rpx;
    background-color: #ccc;
  }
}

