.pages-pb-home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  .tips {
    color: #333;
    font-size: 28rpx;
    padding: 0 30rpx;
  }

  .bottom-fixed-panel {
    position: fixed;
    bottom: 20rpx;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28rpx;
    width: 100%;
    text-align: center;

    .valuation-formula {
      padding: 12rpx;
      color: #1aad19
    }

    .valuation-history-link {
      padding: 12rpx;
      color: #333;
    }
  }
}
