.pages-market {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 30rpx;
  padding-top: 0;

  .tips {
    text-align: center;
    font-size: 28rpx;
  }

  .empty-wrapper {
    text-align: center;

    .empty-text {
      color: #999;
    }
  }

  .item-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20rpx 40rpx;
    border-bottom: 2rpx solid #eaeaea;
    margin-bottom: 10rpx;

    .item-key {
      color: #FF5252;
      font-weight: bold;
      min-width: 200rpx;
      word-break: break-all;
    }

    .item-value {
      color: #333;
      word-break: break-all;
    }
  }
}
