.operations-remark {
  display: flex;
  flex-direction: column;

  .textarea-remark {
    margin: 0 13rpx;
    padding: 0;
    border-radius: 0;
    position: absolute;
    left: 0;
    top: 100%;
    border: 2rpx solid #d3d3d3;
    width: calc(100% - 26rpx);
    min-height: 67rpx;
    margin-top: 5rpx;
    margin-bottom: 37rpx;
  }
}
