.pages-index {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(135deg, #00a8c5 0%, #ffff7e 100%);
  padding-top: 14rpx;

  .item {
    width: 90%;
    margin: 14rpx auto;
    padding: 37rpx;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14rpx;
    box-shadow: 0 0 14rpx rgba(0, 0, 0, 0.1);

    font-size: 28rpx;
  }

  .item-1 {
    background: linear-gradient(135deg, #6e45e2 0%, #88d3ce 100%);
    color: #fff;
  }

  .item-2 {
    background: linear-gradient(135deg, #fc5c7d 0%, #6a82fb 100%);
    color: #000;
  }

  .item-3 {
    background: linear-gradient(135deg, #00cdac 0%, #8ddad5 100%);
    color: #fff;
  }

  .item-4 {
    background: linear-gradient(135deg, #ff7e5f 0%, #feb47b 100%);
    color: #000;
  }

  .item-5 {
    background: linear-gradient(135deg, #f857a6 0%, #ff5858 100%);
    color: #fff;
  }
}
