.operations-edit {
  display: flex;
  flex-direction: column;

  .input-area-number {
    margin: 0 13rpx;
    padding: 0;
    position: absolute;
    left: 0;
    top: 100%;
    border: 2rpx solid #d3d3d3;
    width: calc(100% - 26rpx);
    height: 67rpx;
    margin-top: 5rpx;
    margin-bottom: 37rpx;
  }
}
