.components-pe-table {
  overflow-x: auto;
  margin: 20rpx;

  .valuation-table {
    display: table;
    width: 100%;
    border-collapse: collapse;

    .table-header, .table-row {
      display: table-row;
    }

    .table-cell {
      display: table-cell;
      border: 1px solid #ccc;
      padding: 18rpx;
      text-align: center;
      white-space: nowrap;
    }

    .table-cell:first-child {
      font-weight: bold;
    }

    .bold {
      font-weight: bold;
    }

    .red {
      color: red;
    }

    .green {
      color: green;
    }
  }
}
